<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://lnstempunks.org/404/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
